# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\annely.vurmer\OneDrive - NETIX OÜ\ERA\VALI IT koolitus\IntelliJ ülesanded\dictionary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
